*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}
body{
    color: white;
    background: linear-gradient(90deg, rgba(8,248,255,1) 0%, rgba(103,27,235,1) 35%, rgba(255,0,206,1) 91%);
}

.button-style{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: deepskyblue;
    color: white;
    margin-bottom: 30px;
    
}

.button-style:hover {
    background-color: #FF00CE;
    cursor: pointer;
}

.button-start-style{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: deepskyblue;
    color: white;
}

.button-start-style:hover {
    
    background-color: #FF00CE;
    color: aqua;
    cursor: pointer;
}

#select-game{
 text-align: center;
 
 


}

